# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.zip
[Dd]ebug*/
[Rr]elease*/
/src/.vs/FMBot_Discord/v15/Server/sqlite3
/src/FMBot_Discord/bin
/src/.vs/FMBot_Discord/v16/Server/sqlite3

bin/
obj/

packages/
src/.vs/
.vs/