name: 'fmbot-beta'

x-instance-defaults: &instance-defaults
  image: ghcr.io/fmbot-discord/fmbot:dev
  restart: always
  network_mode: host
  mem_limit: 10g
  volumes:
    - /fmbot/beta/:/app/configs/
    - /fmbot/cache/:/app/cache/

services:
  beta-1:
    <<: *instance-defaults
    environment:
      - INSTANCE_NAME=beta-1
      - SHARDS_MAIN_INSTANCE=true
      - SHARDS_TOTAL_SHARDS=8
      - SHARDS_FIRST_SHARD=0
      - SHARDS_LAST_SHARD=3

  beta-2:
    <<: *instance-defaults
    depends_on:
      beta-1:
        condition: service_healthy
    environment:
      - INSTANCE_NAME=beta-2
      - SHARDS_TOTAL_SHARDS=8
      - SHARDS_FIRST_SHARD=4
      - SHARDS_LAST_SHARD=7

  autoheal:
    image: willfarrell/autoheal
    restart: always
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
      - AUTOHEAL_START_PERIOD=120
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock