name: Publish docker container

on:
  push:
    branches: [main, dev]
    tags: ['v*.*.*']

jobs:
  build:
    name: Docker Build, Tag, Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract branch name
        id: extract_branch
        run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: src/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/fmbot-discord/fmbot:latest
            ghcr.io/fmbot-discord/fmbot:${{ steps.extract_branch.outputs.branch }}
          cache-from: type=gha
          cache-to: type=gha,mode=max